*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: lightcyan;
}

h1 {
  text-align: center;
  font-family: "Amiri", serif;
  font-style: italic;
}

h2 {
  text-align: center;
  font-family: "Amiri", serif;
  font-style: italic;
}
.hide {
  display: none;
}

.feedback {
  font-style: italic;
  font-size: 120%;
  margin-top: 20px;
  padding-top: 10px;
  color: gray;
  border-top: 2px solid #ccc;
}

#firstParagraph {
  font-family: "Amiri", serif;
  text-align: end;
  padding: 10px;
  margin-right: 10px;
}
#secondParagraph {
  font-family: "Amiri", serif;
  text-align: left;
  padding: 10px;
  margin-left: 10px;
}

#modal-container {
  font-family: "Amiri", serif;
  text-align: center;
  font-size: 40px;
  margin: 30px;
  padding: 10px;
}
